:root{
    --light:#f8f9fa;
    --dark:#343a40;
    --shadow:rgba(255, 255, 255, 0.5);
    --redish:#dc3545;
    --charles-color:#e83e8c;
    --cd-hover: #007bff;
    --cd-background:rgb(207, 247, 247);
    --great: rgb(199, 184, 184);
    --determine: rgb(15, 15, 15);
  --indigo: #6610f2;
  --purple: #6f42c1;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --deep-yellow:#e0ac1c;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

/* Sticky navigation */
.sticky{
 background-color: var(--dark);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.2rem;
    z-index: 999;

}

/* logo */
h2 .petis-logo{
    color: var(--light);
    font-size: 1.4rem;
    font-weight: 600;
    display: inline;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 6rem;
  padding: 0.3rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-menu a:hover{
    background: var(--primary);
    color: var(--light);
    transition: 1s ease-in-out;
}

.dropup .dropdown-menu {
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.dropup .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-menu {
  margin-top: 0;
  margin-left: 0.125rem;
}

.dropright .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-toggle::after {
  vertical-align: 0;
}

.dropleft .dropdown-menu {
  margin-top: 0;
  margin-right: 0.125rem;
}

.dropleft .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

.dropleft .dropdown-toggle::after {
  display: none;
}

.dropleft .dropdown-toggle::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}

.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}


/* media query small divces */
@media(max-width:768px){
  /* sticky navigation */
    .sticky{ 
            padding: 0 0.5rem;
            }
      /* Logo */
    h2 .petis-logo{
    color: var(--light);
    font-size: 1.5rem;
    font-weight: 600;
    display: inline;
}
/* About us on the home page */
#determine-title{
  margin-top: 4rem;
}
/* Dropdown list */
 .dropdown-menu{
        text-align: center;
}
.dropdown-menu a{
    color: var(--light);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.dropdown-menu a:hover{
   background: transparent;
   color: var(--danger);
}
}
@media(max-width:414px){
    .sticky{ 
            padding: 0 0.3rem;
            }
    h2 .petis-logo{
    color: var(--light);
    font-size: 1.1rem;
    font-weight: 600;
    display: inline;
}}
@media(max-width:411px){
    .sticky{ 
            padding: 0 0.3rem;
            }
    h2 .petis-logo{
    color: var(--light);
    font-size: 1.1rem;
    font-weight: 600;
    display: inline;
}}

@media(max-width:384px){
    .sticky{ 
            padding: 0 0.3rem;
            }
    h2 .petis-logo{
    color: var(--light);
    font-size: 0.9rem;
    font-weight: 600;
    display: inline;
}
#determine-title{
  margin-top: 4rem;
}
}

@media(max-width:368px){
    .sticky{ 
            padding: 0 0.3rem;
            }
    h2 .petis-logo{
    color: var(--light);
    font-size: 0.8rem;
    font-weight: 600;
    display: inline;
}
#determine-title{
  margin-top: 4rem;
}
}